extends layout

block content

    nav.navbar.navbar-expand-md.navbar-light.bg-light
        a.navbar-brand(href='#') Svelte Project Planner
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
            span.navbar-toggler-icon

        div.collapse.navbar-collapse(id='navbarNav')
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#') Home
                li.nav-item
                    a.nav-link(href='/project') Projects
                li.nav-item
                    a.nav-link(href='/person') Persons
                li.nav-item
                    a.nav-link(href='/client') Clients

    div.container

        h1 Dashboard

        p This is your dashboard. Imagine very useful information here.

