extends layout

block content
    nav.navbar.navbar-light.bg-light
        a.navbar-brand(href='#') Svelte Project Planner
    div.container

        h1 Dashboard

        p This is your dashboard. Imagine very useful information here.

