extends layout
include ./_navbar.pug

block content

    +navbarName('Home')

    div.container

        h1 Dashboard

        p This is your dashboard. Imagine very useful information here.

